.product-shelf-1{
    width: 340px;
    height: 400px;
    background-color: blueviolet;
    margin-top: 50px;
    
}

.shelf-img0{
    margin-top: 98px;
    margin-left: 33px;
    cursor: pointer;
    height: 350px;
    /* background-color: aqua; */
}
.product-shelf-2{
    width: 340px;
    height: 400px;
    background-color: rgb(226, 110, 43);
    margin-top: -400px;
    margin-left: 420px;
    
}

.shelf-img2{
    margin-top:98px;
    margin-left: 33px;
    cursor: pointer;
    height: 350px;
    /* background-color: aqua; */
}
.product-shelf-3{
    width: 340px;
    height: 400px;
    background-color: blueviolet;
    margin-top: 130px;
    
}

.shelf-img3{
    margin-top: 98px;
    margin-left: 33px;
    cursor: pointer;
    height: 350px;
    /* background-color: aqua; */
}
.product-shelf-4{
    width: 340px;
    height: 400px;
    background-color: rgb(181, 119, 12);
    margin-top: -400px;
   margin-left: 420px;
    
}

.shelf-img4{
    margin-top: 98px;
    margin-left: 33px;
    cursor: pointer;
    height: 350px;
    /* background-color: aqua; */
}
.product-shelf-5{
    width: 340px;
    height: 400px;
    background-color: blueviolet;
    margin-top: 130px;
    
}

.shelf-img5{
    margin-top: 98px;
    margin-left: 33px;
    cursor: pointer;
    height: 350px;
    /* background-color: aqua; */
}
.product-shelf-6{
    width: 340px;
    height: 400px;
    background-color: blueviolet;
    margin-top: -400px;
    margin-left: 420px;
    
}

.shelf-img6{
    margin-top: 98px;
    margin-left: 33px;
    cursor: pointer;
    height: 350px;
    /* background-color: aqua; */
}
.shelf-item0{
    margin-top: -455px;
}
.shelf-rating{
    color: #5e5e5e;
    font-size: 13px;
    
}
.title-section-shop h2 {
    padding-left: 25px;
    border-left: 4px solid #6c70eb;
    display: flex;
    font-family: 'Audiowide', cursive;
    font-family: 'Montserrat Alternates', sans-serif;
margin-top: 180px;
}
.discover-container{
    width: 624px;
    height: 590px;
    background-color: rgb(40, 119, 106);
    
}
.discover-container-0{
    width: 340px;
    height: 270px;
    background-color: rgb(79, 26, 164);
    margin-top: -590px;
    margin-left: 750px;
    
}
.discover-container-1{
    width: 340px;
    height: 270px;
    background-color: rgb(164, 26, 49);
    margin-top: 50px;
    margin-left: 750px;
    
}
.discover-image{
    margin-top: -310px;
    margin-left: 50px;

}