/* SECOND CONTAINER DOWN SECTION-TWO */
.second-container-down-box {

    padding: 40px;
    margin-top: 40px;

    /* background-color: #7b7b7b; */
    margin-left: 30px ;

   
}

.second-box-2 {

    padding: 40px;
    height: 1100px;
   
}

.second-title-section h2 {
    padding-left: 30px;
    border-left: 4px solid #6f72c1;
    display: inline-block;
    color: #000;
    font-family: 'Audiowide', cursive;
    font-family: 'Montserrat Alternates', sans-serif;

}

.second-title-section span {
    font-size: 30px;
}

.product-container {
    display: grid;
    grid-template-columns: repeat(3, 340px);
    grid-template-rows: 400px;
    grid-gap: 45px;
    /* adjust this value to change the margin between the items */
}

.second-product-item-1 {
    background: #f9f9f9;

}

.second-product-item-2 {
    background: #f9f9f9;
}

.second-product-item-3 {
    background: #f9f9f9;
}

.product-container-2 {
    display: grid;
    grid-template-columns: repeat(3, 340px);
    grid-template-rows: 400px;
    grid-gap: 45px;
    /* adjust this value to change the margin between the items */
}

.second-product-item-1-1 {
    background: #f9f9f9;
    margin-top: 150px;
    height: 400px;

}

.second-product-item-2-2 {
    background: #f9f9f9;
    margin-top: 150px;
    height: 400px;
}

.second-product-item-3-3 {
    background: #f9f9f9;
    margin-top: 150px;
    height: 400px;
}

/* .second-product-item-1 {
    width: 30%;
    text-align: center;
} */

.second-product-item-1 img {
    width: 100%;
    height: auto;
}



.item-title {
    font-size: 15px;
    margin-top: 420px;
    font-weight: normal;
    line-height: 1.2;
    cursor: pointer;
    font-family: 'Audiowide', cursive;
    font-family: 'Montserrat Alternates', sans-serif;
    font-family: 'Roboto Mono', monospace;


}

.image-0 {
    margin-top: -557px;
    /* height: 408px; */
    cursor: pointer;
}

.image-1 {
    margin-left: 34px;
    margin-top: -605px;
    height: 390px;
    cursor: pointer;
}

.image-2 {
    margin-top: -565px;
    margin-left: 43px;
    cursor: pointer;
    height: 380px;

}

.image-3 {
    margin-top: -610px; 
    margin-left: 43px;
    cursor: pointer;
    height: 390px;

}

.image-4 {
    margin-top: -500px;
    margin-left: 10px;
    cursor: pointer;
    height: 390px;


}

.image-5 {
    margin-top: -520px;
    margin-left: 43px;
    cursor: pointer;
    height: 370px;

}

.item-title a {
    color: #7b7b7b;
    text-decoration: none;
}

.item-title a:hover {
    color: #000000;
    text-decoration: none;
}

.item-price {
    font-size: 15px;
    font-weight: bold;
    margin-top: 1rem;
    color: #020303;
}

.item-price del {
    color: #b3b3b3;
}


.second-clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.star-rating {
    font-size: 12px;
    color: #ffc107;
    display: inline-block;
}

.checked {
    color: #ff9800;
}
.filt-price{
    width: 200px;
    height: 80px;
    /* align-items: center; */
    /* margin-left: 60px;
    padding-top: 15px; */
    position: relative;
    top: 22px;
    left: 31px;
  }

  .slidecontainer {
    width: 500%;
    margin-left: 20px;
    margin-top: -30px;
   
  }
  .money-value {
  font-weight: bold;
  font-size: 18px;
  color: #040404;
  margin-left:-5px;
  margin-top: 80px;

}
.slider {
    -webkit-appearance: none;
    width: 15%;
    height: 6px;
    border-radius: 10px ;
    background: #ddd;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  .slider:hover {
    opacity: 1;
  }
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #954caf;
    cursor: pointer;
  }
  

.size-container{
    margin-left: 20px;
    margin-top: 50px;

/* background-color: #696767; */
}
.size-length{
    margin-left: -25px;
   padding: 5px;
}
.color-box {
    width:15px;
    height: 15px;
    border-radius: 50%;
    margin: 10px auto;
  }
  .red {
    background-color: #ff0000;
  }
  .blue {
    background-color: #0000ff;
  }
  .green {
    background-color: #00ff00;
  }
  .yellow {
    background-color: #ffff00;
  }
.container-color{
    margin-top: 50px;
    margin-left: -190px;

}
/* .cl-1{
   margin-left: 50px;
  margin-top: -140px;
    color: #000;
    background-color: #0000ff;
   
  } */

.color-p1{
    /* margin: 5px; */
    position: relative;
    top: -135px;
    left: 45px;
}

.color-p2{
    /* margin-top: 12px;
    margin-left: 5px; */
    position: relative;
    top: -145px;
    left: 45px;
}
.color-p3{
    /* margin-top: -6px;
    margin-left: 5px; */
    position: relative;
    top: -157px;
    left: 45px;
}
.color-p4{
    /* margin-top: -6px;
    margin-left: 5px; */
    position: relative;
    top: -166px;
    left: 44px;
}
.color-length{
   position: relative;
   top: 5px;
   left: 215px;

} 

.site-block-27 {
    /* background-color: #d6ded6; */
    width: 300px;
    height: 50px;
    margin-top: 150px;
    margin-left: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .site-block-links a {
    /* text-decoration: none; */
    /* display: inline-flex;
    position: relative;
    top: 125px;
    left: 229px; */
    padding-block: initial;
    align-items: stretch;
    display: inline-flex;
    padding: 8px 16px;
    justify-content: space-between;
    position: relative;
    /* top: 125px;
    left: 229px; */
  }

  .site-block-links a:hover {
    background-color: #7a67d6;
    color: #060506;
  }
  
  .round {
    border-radius: 50%;
    background-color: #ceced4;
    margin: 2px;
    text-decoration: none;
  }